In [173]:
# ? Import the necessary packages

# * Import models from sklearn
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

# import pandas
import pandas as pd

# import numpy
import numpy as np

In [180]:
# Import the sample data
features_to_extract = [ 'MSSubClass',
                        'LotFrontage',
                        'LotArea',
                        'OverallQual',
                        'OverallCond',
                        'BsmtUnfSF',
                        'TotalBsmtSF',
                        '1stFlrSF',
                        '2ndFlrSF',
                        'LowQualFinSF',
                        'GrLivArea',
                        'GarageArea',
                        'WoodDeckSF',
                        'OpenPorchSF',
                        'EnclosedPorch',
                        'MiscVal',
                        'SalePrice']

# test_data = pd.read_csv('data/train.csv', usecols=features_to_extract)
test_data = pd.read_csv('data/train.csv')

# Show the data

test_data.drop(columns='Id', inplace=True, axis=1)
test_data.columns = range(test_data.shape[1])

test_data.head()
# test_data.dtypes.value_counts()

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [181]:
# Extract data for testing and training
train_X = [ c for c in test_data.columns if c !=79]
train_X = np.asarray(train_X, dtype=np.float32)
train_X = train_X.reshape(1, -1)
print(train_X)
print("-----------------------\n")

train_y = test_data.iloc[:,-1]
train_y = np.asarray(train_y, dtype=np.float32)
train_y = train_y.reshape(1, -1)
print(train_y)
print("-----------------------\n")

[[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
  18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35.
  36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53.
  54. 55. 56. 57. 58. 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69. 70. 71.
  72. 73. 74. 75. 76. 77. 78.]]
-----------------------

[[208500. 181500. 223500. ... 266500. 142125. 147500.]]
-----------------------

In [182]:
# Now, import the test data
test_data = pd.read_csv('data/test.csv')

test_data.drop(columns='Id', inplace=True, axis=1)
test_data.columns = range(test_data.shape[1])

test_data.head()

,0,1,2,3,4,5,6,7,8,9,...,69,70,71,72,73,74,75,76,77,78
0,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [183]:
test_X = [c for c in test_data.columns]
test_X = np.asarray(test_X, dtype=np.float32)
test_X = test_X.reshape(1, -1)

In [184]:
# Create a model to train, test on the given data
rf_model = DecisionTreeRegressor(random_state=1234)
rf_model.fit(train_X, train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1234, splitter='best')

In [185]:
test_y = rf_model.predict(test_X)
mae = mean_absolute_error(test_y, train_y)

# I can't understand how and why test_y, and train_y are getting back the exact same data
# mae is returned as 0.0, in this case, not sure as to why
for i in range(len(train_y)):
    print("X=%s, Predicted=%s" % ( train_y[i], test_y[i]))

X=[208500. 181500. 223500. ... 266500. 142125. 147500.], Predicted=[208500. 181500. 223500. ... 266500. 142125. 147500.]